* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            background: linear-gradient(135deg, #0077b6, #00b4d8);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* ----- Mensagens ----- */
        .message {
            text-align: center;
            margin-top: 1rem;
            color: #555;
        }

        .message a {
            color: #0077b6;
            text-decoration: none;
            font-weight: bold;
        }

        .message a:hover {
            text-decoration: underline;
        }
         .logo{
            display: block;
            margin: 0 auto 20px auto;
            width: 150px;
            height: auto;
         }

        .caixa{
            border-radius: 8px;
            padding: 10px;
            border: 1px solid #ccc;
        }

        .botao{
            margin-top: 15px;
            width: 100%;
            padding: 10px;
            background-color: #0077b6;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        .padd{
            margin-top: 25px;
        }

        .bg-azul {
            background: linear-gradient(to right, #0d6efd, #66b2ff);
            height: 100vh;
        }

        .card {
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

/* --- MOBILE (até 767px) --- */
@media (max-width: 767px) {

    body {
        background: #ffffff; /* fundo branco */
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 100vw;
        height: 100vh;
        border-style: none;
        border-radius: 0; /* deixa o card sem bordas arredondadas */
        box-shadow: none; /* remove sombra para parecer tela */
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .card img.logo {
        width: 150px;
        margin-bottom:200px;
    }

    
}
