<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Registrar Entrega - Gelo ICE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- ESSENCIAL para mobile -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/Img/style.css">
    <style>
        .scroll-card {
            height: 75vh;
            overflow-y: auto;
            border-radius: 12px;
        }
    </style>
</head>

<body>
    <div class="container my-4 d-flex justify-content-center">
        <div class="card scroll-card p-4 mt-5 w-100" style="max-width: 380px;">

            <!-- LOGO -->
            <div class="text-center mb-4">
                <img src="/static/Img/372ba3ab23b82a3d8594faf835be6f257754f636.png" class="logo" alt="Logo Gelo ICE"
                    style="cursor: pointer;" onclick="window.location.href='/'">
            </div>

            <form method="post" action="/entregas/registrar">
                <!-- Seleção de cliente -->
                <div class="menu-card">
                    <div class="card-body botao">
                        <div class="card-title" style="text-align: center;">Clientes</div>
                        <div class="mb-3 p-2">
                            <select class="form-select " name="id_cliente" required>
                                {% for cliente in clientes %}
                                <option value="{{ cliente.id_cliente }}">{{ cliente.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Produtos -->
                <div class="row text-center">

                    <div class="menu-card botao">
                        <div class="card-body">
                            <h5 class="card-title">Pacotes de Gelos</h5>
                            {% for produto in produtos %}
                            {% if produto.tipo == 'gelo' %}
                            <div class="card mb-3 pb-2">
                                <label>{{ produto.nome }}<br>R$ {{ produto.preco }}</label>
                                <input type="number" style="border-style: none;" class="form-control mt-1" name="produto_{{ produto.id_produto }}"
                                    min="0" value="0">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>

                    </div>

                    <div class="menu-card botao">
                        <div class="card-body">
                            <h5 class="card-title">Gelos Saborizados</h5>
                            {% for produto in produtos %}
                            {% if produto.tipo != 'gelo' %}
                            <div class="card mb-3">
                                <label>{{ produto.nome }}<br>R$ {{ produto.preco }}</label>
                                <input type="number" style="border-style: none;" class="form-control mt-1" name="produto_{{ produto.id_produto }}"
                                    min="0" value="0">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Opções nota ou paga -->
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="nota" value="true" id="nota">
                        <label class="form-check-label" for="nota">Nota</label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" name="pago_na_hora" value="true"
                            id="pago_na_hora">
                        <label class="form-check-label" for="pago_na_hora">Pago na hora</label>
                    </div>

                    <!-- Botão de registrar -->
                    <button type="submit" class="botao w-100">Registrar</button>
            </form>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>