<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/Img/style.css">

</head>

<body>
    <div class="container my-4" style="max-width: 380px;">
        <div class="card p-4 mt-5" style="max-height: 75vh; overflow-y: auto;">

            <img  class="voltar" src="/static/Img/voltar.png" onclick="window.location.href='/entrega'" style="cursor: pointer; position: absolute; top: 20px; left: 20px;" alt="Voltar">

            <!-- Imagem GELO ICE -->
            <div>
                <img src="/static/Img/372ba3ab23b82a3d8594faf835be6f257754f636.png" class="logo text-center mb-4"
                    onclick="window.location.href='/entrega'" style="cursor: pointer;">
            </div>

            <!-- Entregas -->
            {% for entrega in entregas %}

            <div class="card mb-3 p-2" style="background:#1280c9; color:white; border-radius:12px;">
                <div>
                    <strong>Entrega #{{ entrega.id_entrega }}</strong><br>
                    Cliente: {{ entrega.cliente.nome }}<br>
                    Nota ou pago: {{ entrega.status }}<br>

                    {% for nota in entrega.notas %}
                    {% if nota.status_pagamento == "pago" %}
                        Status: ✅ Paga
                    {% else %}
                        Status: ❌ Pendente
                    {% endif %}
                    {% endfor %}


                    <ul class="mt-2">
                        {% for item in entrega.itens %}
                        <li>{{ item.produto.nome }} — {{ item.quantidade }} unidades</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>