* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

        body {
            background: linear-gradient(to right, #0d6efd, #66b2ff);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

/* ----- Mensagens ----- */
.message {
    text-align: center;
    margin-top: 1rem;
    color: #555;
}

.message a {
    color: #0077b6;
    text-decoration: none;
    font-weight: bold;
}

.message a:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
    height: auto;
}

.caixa {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
}

.botao {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.padd {
    margin-top: 25px;
}

        .card {
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            
        }

        .card-estoque {
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            background-color: #1280c9;
            padding: 10px;
            margin-bottom: 20px;
        }
        .icone-gelo {
            width: 80px;
            height: 80px;

        }

        .card::-webkit-scrollbar {
    width: 6px;
}

.card::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 6px;
}

.card::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.card-estoque {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #1280c9;
    padding: 10px;
    margin-bottom: 20px;
}

.icone-gelo {
    width: 80px;
    height: 80px;

}

.card::-webkit-scrollbar {
    width: 6px;
}

.card::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 6px;
}

.card::-webkit-scrollbar-thumb:hover {
    background: #777;
}
